/*common css for the header part*/
.header{
	width:100%;
	border-top:2px solid gray;
	border-bottom:2px solid gray;
	margin-top:20px;
	
}
.nav{
/*	margin-top:20px;*/
	width:98%;
	/*height:60px;*/
	margin:0 auto;

	display:flex;
	justify-content: space-between;
	
}
.nav ul{
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
}
.nav ul li {
	text-decoration:none;
	
	padding:10px;
	
}
.nav ul li a{
	text-decoration:none;
	color:black;
	padding:10px;
	font-size:18px;
}
.nav ul li a:hover{
	background:black;
	color:white;
	padding:10px;
}
.search_bar{
   display:flex;
   align-items: center;
   justify-content: center;
 }

.search_bar input{
  border: none;
  border-bottom: 2px solid #000000;
  
}

.phone-screenplay i{
	color: black;
	font-size: 20px;
	display: none;
}

nav .shopping_card{
    padding-top: 20px;
}

nav .shopping_card a{
	font-size: 20px;
	color: #000000;
}

.fa, .fas{
	display:inline-block;
}

@media only screen and (max-width:1025px){
	.nav{
		flex-direction: column;
	}
}

@media only screen and (max-width:660px){
	.nav ul{
		flex-direction: column;
		display: none;
	}

	.nav ul li{
		padding:0;
	}

	.nav a{
		display:inline-block;
		width:100%;
	}

	.search_bar{
		justify-content: flex-end;
		text-align:right ;
	}

	.search_bar input{
		width:100%;
	}

	.phone-screenplay i{
		display: block;
	}
}


a:hover {
	color: grey;
}



/*special css for the about page*/
*{
	box-sizing: border-box;
}

body{
	background-color: #E8E6E6;
}

h2{
	font-family: 'Saira Stencil One', cursive;
	color: #CAA479;
}

p{
	font-family: 'Saira', sans-serif;
	color: black;
}

section.content_container{
	border-left: 1px solid white;
	border-right: 1px solid white;
	width: 50%;
	margin: auto;
}

div.ourStory, div.ourCustomers{
	padding-bottom: 10rem;
	border-bottom: 1px solid white;
}

div.title_container{
	width: 90%;
	margin: auto;
	padding-top: 4rem;
	padding-bottom: 1rem;
}

div.imgAndText_container{
	background-color: #827163;
	padding-top: 2rem;
	padding-bottom: 6rem;
}

div.imgAndText_container>div,div.imgAndText_container>p{
	color: white;
	width: 90%;
	margin: auto;
}

div.imgAndText_container img{
	width: 100%;
	margin-bottom: 1rem;
}

div.ourEvents{
	padding-bottom: 10rem;
}

div.ourEvents h3{
	width: 90%;
	margin: auto;
	color: white;
	font-family: 'Saira Stencil One', cursive;
	padding: 1rem 0;
}


/*styling for mobile version*/
@media only screen and (max-width: 900px){
	section.content_container{
		width: 80%;
	}
}

@media only screen and (max-width: 600px){
	div.ourStory, div.ourCustomers{
		padding-bottom: 0;
	}
}