*{
	box-sizing: border-box;
}

body{
	background-color: #E8E6E6;
}



/*styling for header*/
header{
	margin: 0;
    padding: 0;
    background-color: #827163;
    display: flex;
    width: 100%;
    top: 0;
    position: sticky;
    z-index:1000
}

div.logo, div.cart_icon{
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.logo a{
	/*border: 1px solid red;*/
	width: 35%;
}

div.logo img{
	width: 100%;
}

div.cart_icon a{
	/*border: 1px solid red;*/
	width: 20%;
}

div.cart_icon img{
	width: 100%;
}

div.navigation{
	width: 70%;
	border-left: 0.5px solid white;
	border-right: 0.5px solid white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

div.search_bar{
	height: 50%;
	border-bottom: 0.5px solid white;
}

div.navigation nav{
	height: 50%;
}

div.search_bar input{
	background-color: #827163;
	width: 20%;
	height: 1.5rem;
	border: none;
	border-radius: 5px;
	margin-left: 1rem;
}

div.search_bar input::placeholder{
	color: white;
}

div.search_bar{
	display: flex;
	justify-content: center;
	align-items: center;
}

div.search_bar>img{
	width: 25px;
}

nav{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav a{
	display: inline-block;
	text-decoration: none;
	font-family: 'Hind', sans-serif;
	color: white;
	transform: scale(1);
	transition: transform 0.5s;
}

nav a:hover{
	border-bottom: 1px solid white;
	transform: scale(1.1);
}


/*styling for mobile version header*/
section.mobile_header{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

div.displayHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.displayHeader>div{
	width: 10%;
}

div.displayHeader img{
	width: 100%;
	min-width: 60px;
}

div.menu img{
	padding: 0.5rem;
}

div.mobileCart img{
	padding: 0.8rem;
}

ul#dropDown{
	display: none;
	margin: 0;
	padding: 0;
}

ul#dropDown>li{
	list-style: none;
	margin: 0;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	transition: all 0.5s;
}

ul#dropDown>li:hover{
	background-color: #caa479;
	color: white;
}

ul#dropDown a{
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: #827163;
	font-size: 1rem;
}

ul#dropDown a:hover{
	color: white;
}


/*styling for footer*/
footer{
	background-color: #caa479;
	margin-top: 10rem;
	padding-bottom: 5rem;
}

div.footerContent{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer h3{
	padding-top: 0;
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-family: 'Hind', sans-serif;
}

footer a{
	display: block;
	color: black;
	font-family: 'Hind', sans-serif;
	text-decoration: none;
}

div.process, div.contributor, div.joinUs{
	width: 30%;
	margin-top: 2rem;
}

div.icons{
	display: flex;
	justify-content: space-between;
	width: 60%;
	padding: 0;
	margin-bottom: 0;
}

div.icons a{
	width: 15%;
}

div.icons img{
	width: 100%;
	min-width: 30px;
}

div.joinUs p{
	font-size: 0.8rem;
}

div.joinUs input{
	border: 0;
	width: 100%;
	padding: 1rem 0.5rem;
}

div.joinUs a{
	text-decoration: underline;
	margin: 1rem 0;
}

@media only screen and (max-width: 800px){
	header{
		display: none;
	}

	section.mobile_header{
		display: block;
	}

	div.process, div.contributor{
		width: 50%;
	}

	div.joinUs{
		width: 100%;
	}
}