*{
	box-sizing: border-box;
}

body{
	background-color: #E8E6E6;
}

header{
	margin: 0;
    padding: 0;
    background-color: #827163;
    display: flex;
    width: 100%
}

div.logo, div.cart_icon{
	width: 15%;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.logo>img{
	width: 50%;
}

div.cart_icon a{
	width: 30%;
}

div.navigation{
	width: 70%;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

div.search_bar, nav{
	height: 50%;
	border: 1px solid white;
}

div.search_bar input{
	width: 50%;
	height: 2rem;
	border: none;
	border-radius: 5px;
	margin-left: 1rem;
}

div.search_bar{
	display: flex;
	align-items: center;
}

div.search_bar>img{
	width: 25px;
	/*margin-left: 1rem;
	margin-top: 1rem;*/
}

nav{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav a{
	text-decoration: none;
	font-family: 'Hind', sans-serif;
	color: white;
}

nav a:hover{
	text-decoration: underline;
	font-weight: bold;
}



/*.header{
	width:100%;
	border-top:2px solid gray;
	border-bottom:2px solid gray;
	margin-top:20px;
	
}
.nav{
	width:98%;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
	
}
.nav ul{
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
}
.nav ul li {
	text-decoration:none;
	
	padding:10px;
	
}
.nav ul li a.menu{
	font-family: 'Hind', sans-serif;
	text-decoration:none;
	color:black;
	font-size:1.5rem;
}
.nav ul li a:hover{
	background:black;
	color:white;
	padding:10px;
}
.search_bar{
   display:flex;
   align-items: center;
   justify-content: center;
 }

.search_bar input{
  border: none;
  border-bottom: 2px solid #000000;
  
}

.phone-screenplay i{
	color: black;
	font-size: 20px;
	display: none;
}

nav .shopping_card{
    padding-top: 20px;
}

nav .shopping_card a{
	font-size: 20px;
	color: #000000;
}

.fa, .fas{
	display:inline-block;
}

@media only screen and (max-width:1025px){
	.nav{
		flex-direction: column;
	}
}

@media only screen and (max-width:660px){
	.nav ul{
		flex-direction: column;
		display: none;
	}

	.nav ul li{
		padding:0;
	}

	.nav a{
		display:inline-block;
		width:100%;
	}

	.search_bar{
		justify-content: flex-end;
		text-align:right ;
	}

	.search_bar input{
		width:100%;
	}

	.phone-screenplay i{
		display: block;
	}
}


a:hover {
	color: grey;
}*/