.header{
	width:100%;
	border-top:2px solid gray;
	border-bottom:2px solid gray;
	margin-top:20px;
	
}
.nav{
/*	margin-top:20px;*/
	width:98%;
	/*height:60px;*/
	margin:0 auto;

	display:flex;
	justify-content: space-between;
	
}
.nav ul{
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
}
.nav ul li {
	text-decoration:none;
	
	padding:10px;
	
}
.nav ul li a{
	text-decoration:none;
	color:black;
	padding:10px;
	font-size:18px;
}
.nav ul li a:hover{
	background:black;
	color:white;
	padding:10px;
}
.search_bar{
   display:flex;
   align-items: center;
   justify-content: center;
 }

.search_bar input{
  border: none;
  border-bottom: 2px solid #000000;
  
}

.phone-screenplay i{
	color: black;
	font-size: 20px;
	display: none;
}

nav .shopping_card{
    padding-top: 20px;
}

nav .shopping_card a{
	font-size: 20px;
	color: #000000;
}

.fa, .fas{
	display:inline-block;
}

@media only screen and (max-width:1025px){
	.nav{
		flex-direction: column;
	}
}

@media only screen and (max-width:660px){
	.nav ul{
		flex-direction: column;
		display: none;
	}

	.nav ul li{
		padding:0;
	}

	.nav a{
		display:inline-block;
		width:100%;
	}

	.search_bar{
		justify-content: flex-end;
		text-align:right ;
	}

	.search_bar input{
		width:100%;
	}

	.phone-screenplay i{
		display: block;
	}
}


a:hover {
	color: grey;
}