body{
    margin: 0;
    padding: 0;
    font-family: 'Trirong', serif;
}

.header{
	width:100%;
	border-top:2px solid gray;
	border-bottom:2px solid gray;
	margin-top:20px;
	
}
.nav{
/*	margin-top:20px;*/
	width:98%;
	/*height:60px;*/
	margin:0 auto;

	display:flex;
	justify-content: space-between;
	
}
.nav ul{
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
}
.nav ul li {
	text-decoration:none;
	
	padding:10px;
	
}
.nav ul li a{
	text-decoration:none;
	color:black;
	padding:10px;
	font-size:18px;
}
.nav ul li a:hover{
	background:black;
	color:white;
	padding:10px;
}
.search_bar{
   display:flex;
   align-items: center;
   justify-content: center;
 }

.search_bar input{
  border: none;
  border-bottom: 2px solid #000000;
  
}

.phone-screenplay i{
	color: black;
	font-size: 20px;
	display: none;
}

/*nav .shopping_card{
    padding-top: 20px;
}

nav .shopping_card a{
	font-size: 20px;
	color: #000000;
}*/

.fa, .fas{
	display:inline-block;
}

@media only screen and (max-width:1025px){
	.nav{
		flex-direction: column;
	}
}

@media only screen and (max-width:660px){
	.nav ul{
		flex-direction: column;
		display: none;
	}

	.nav ul li{
		padding:0;
	}

	.nav a{
		display:inline-block;
		width:100%;
	}

	.search_bar{
		justify-content: flex-end;
		text-align:right ;
	}

	.search_bar input{
		width:100%;
	}

	.phone-screenplay i{
		display: block;
	}

	
}


a:hover {
	color: grey;
}

/*content part start */
.full-width{
	width:100%;
	height:auto;
}
.container{
	/*width:980px;*/
	margin:0 auto;
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/*border:1px solid red;*/
}
.wrap{
	margin-left:15px;
	margin-top:50px;
	flex-basis: 380px;
	flex-grow: 1;
	border:1px solid green;
}
.product{
	margin-top:20px;
	border:1px solid red;
}
.product img{
	display:block;
	/*width:230px;*/
	height:auto;
}

.product button{
	margin-left:70px;
}
.product h2{
	text-align:center;
}
.product p{
	text-align:center;
}







.product{
    position: relative;
    /*border:1px solid green;*/
  }
  img {
    width: 90%;
    /*height: px;*/
    margin: 0 auto;
  
  
  }
  
  .button {
    position: absolute;
    left:0;
    top:0;
    /*border:1px solid blue;*/
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  
  .button a {
    width: 200px;
    padding: 8px 35px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 2px white;
   
  }
  .button a:hover{
  background-color: #000000;
  color: #ffffff;
  }
  
  .product:hover .button {
    opacity: 100%;
  }


  .footer-container{
   height: 290px;
   margin-top:20px; 
   background-color: white;
   margin:0 auto;
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
  }

.footer-wrap{
    margin-left:15px;
	margin-top:50px;
	flex-basis: 380px;
	flex-grow: 1;
	border:1px solid green;
}
.footer-left{
  margin-top: 30px;

}

.footer-lelabo-logo{
	width: 100px;
	height: 40px;
	float: left;
	margin-left: 20px;
}

.footer-left-contact-us{
  float: left;
  margin-right: 15px;
}

.footer-left-contact-us ul{
	list-style:none;

}
.footer-left-contact-us ul li a{
	text-decoration:none;
	color:black;
	padding:10px;
	font-size:18px;
}


.footer-right{
 margin-left: 10px;

}

.footer-right-form{
  margin-left: 10px;
}

.footer-right-form input[type=text] {
	width: calc(100% - 45px);
	margin-bottom: 10px;
	padding-bottom:80px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.footer-right-form label {
	margin-bottom: 10px;
	display: block;
}



